<!DOCTYPE html>
<html lang="en">
<head>
    
<%- include('../partials/head.ejs') %>

</head>
    
<body>

    
   <header>
        <%- include('../partials/header.ejs'); %>
   </header>



   <nav>
        <%- include('../partials/nav.ejs'); %>
   </nav>
    


    <main>
        <%- include(`../Content/${content}`); %>
    </main>
    


    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
    
</body>
</html>